<section class="main-header">
  <%= image_tag('iphone-3579242_640.jpg') %>
</section>
<section class="sentence">
  <h1>About this aplication</h1>
  <p>
    このサイトでは思ったことを気軽に呟けるようになっています。
  </p>
</section>
