<h1 class="twet_title"><span class="label label-primary">つぶやき一覧</span></h1>
  <p><%= notice %></p>
<% @twets.each do |twet| %>
<div class="form-content"><%= twet.content %></div>
<div>
<button type="button" class="btn btn-primary"><%= link_to "編集", edit_twet_path(twet.id),data: { confirm: '本当に編集していいですか？' } %></button>
<button type="button" class="btn btn-danger"><%= link_to '削除', twet_path(twet.id), method: :delete,data: { confirm: '本当に削除していいですか？' } %></button>
<% end %>
</div>
